<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Chat</title>
</head>
<body>
<h1>Chat</h1>
<form id="form">
    <input id="input1" type="number"/>
    <input id="input" type="text"/>
    <button type="submit">Send</button>
</form>
<ul id="messages"
    style="list-style-type: none; padding: 10px; margin: 0"
></ul>

<!-- Подключаем клиентскую библиотеку для socket.io -->

<script
        src="https://cdn.socket.io/4.5.4/socket.io.min.js"
        integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI"
        crossorigin="anonymous"
></script>

<script>

    //инициализируем объект сокета, подключаясь к серверу
    const socket = io('http://localhost:3000')

    // получаем элементы DOM дерева
    let messages = document.getElementById('messages')
    let form = document.getElementById('form');
    let input = document.getElementById('input');
    let input1 = document.getElementById('input1');

    form.addEventListener('submit', e => {
        e.preventDefault();
        if (!socket.connected) {
            alert('Not connected!');
            return;
        }
        if (input.value) {
            socket.emit('message', {'text': input.value, 'id': input1.value});
            input.value = '';
        }
    });

    // слушаем событие, которое мы выбрасываем на сервере
    socket.on('message', (message) => {
        // создаем новый html элемент li
        let messageItem = document.createElement('li')
        // заполняем его сообщением
        messageItem.textContent = message.text
        // добавляем новый элемент в список
        messages.appendChild(messageItem)
    })
    socket.on('connect', function() {
        alert('Connected!');
    });
    socket.on('disconnect', function() {
        alert('Disconnected!');
        setTimeout(() => {
            socket.connect();
        }, 10000);
    });
</script>
</body>
</html>